---
layout: page
---
<div class="cell-1 grid-item hook">
	<section>
		<h1>Coffee,<br>Found.</h1>
		<button class="cta-button">Download App</button>
		<p>Get the Roast Recon app to start finding the best coffee shops around you.</p>
	</section>
</div>
<div class="cell-5 grid-item map"></div>
<div class="cell-11 grid-item flex-wrapper phone">
	<img src="{{ site.img-dir }}Nexus5.png" alt="">
	{% comment %} 
	{% include iphone.html %} 
	{% endcomment %} 
</div>
</div>
<!-- <div class="cell-12 grid-item row-3"></div> -->
<div class="cell-13 grid-item row-3">
	<section>
		<h2>Discover the Best</h2>
		<p>Finding the right coffee shop can be hard, especially if you're in a new town and don't know the area. Roast Recon helps you out by surfacing the coffee shops you wouldn't ordinarily find easily on your map.</p>
	</section>
</div>
<!-- <div class="cell-14 grid-item row-3"></div> -->
<div class="cell-15 grid-item row-3">
	<section>
		<h2>Remember Your Experiences</h2>
		<p>Record your visits in the app. It'll help you remember that awesome place you visited 6 months ago, and also help other coffee travellers find the right place for them.</p>
		<button class="cta-button">Download App</button>
	</section>
</div>
<!-- <div class="cell-16 grid-item row-3"></div> -->
{% include team.html %} 