<div class="info">
	<h2>Subhead</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo saepe architecto totam officiis ad maiores reprehenderit soluta, nam voluptatibus animi reiciendis? Incidunt, nam veritatis necessitatibus, doloribus nostrum odio sint.</p>

	<h2>Subhead</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo saepe architecto totam officiis ad maiores reprehenderit soluta, nam voluptatibus animi reiciendis? Incidunt, nam veritatis necessitatibus, doloribus nostrum odio sint.</p>
</div>