button.cta-button{
	border: 0;
	outline: none;
	font-size: ms(1);
	padding: 15px 30px;
	border: 2px solid darken($yellow, 10%);
	background: linear-gradient($yellow, darken($yellow, 5%));
	border-radius: 5px;
	box-shadow: 10px 10px 0 0 rgba(244,202,20,0.5);
	text-transform: uppercase;
}