button.cta-button{
	outline: none;
	font-size: ms(0);
	padding: 8px 16px;
	@media screen and (min-width: $large){
		font-size: ms(1);
		padding: 10px 20px;
	}
	border: 2px solid darken($yellow, 10%);
	border-bottom: 7px solid darken($yellow, 10%);
	background: linear-gradient($yellow, darken($yellow, 5%));
	border-radius: 5px 5px 10px 10px;
	color: darken($yellow, 30%);
}