.hook-bg{
	background: $black url('../images/andrew-welch-330269.jpg');
	background-size: cover;
	background-position: bottom;
}
.hook{
	margin-bottom: 30px;
	@media screen and (max-width: $medium){
		padding-top: 60px;
	}

	h2{
		color: $yellow;
		text-shadow: 0 0 5px rgba(69,56,48,0.9);
	}
	p{
		color: $white;
		span{
			color: $yellow;
		}
	}
}
.teaser{
	padding: 30px;
	@media screen and (max-width: $medium){
		padding: 70px 30px;
	}
	background: $white;
	p{
		line-height: 1.5;
	}
}
.map{
	background-image: url('../images/mappy.png');
	background-size: cover;
	@media screen and (min-width: $medium){
		border-top: 1px solid darken($black, 5%);
	}
}
.filler-bg{
	background: url('../images/test.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	border-top: 1px solid $black;
	justify-content: center;
	align-items: center;

	span{
		@extend .icon-location;
		@extend .icon;
		width: 100px;
		height: 120px;
		margin-top: -80px;
	}

}

