.hook-bg{
	background: $black url('../images/andrew-welch-330269.jpg');
	background-size: cover;
	background-position: bottom;
}
.hook{
	margin: 40px 0 30px 0;
	@media screen and (max-width: $medium){
		padding-top: 60px;
	}
    h2, p{
		text-shadow: 0 0 5px rgba(69,56,48,0.9);
    }
	h2{
		color: $yellow;
	}
	p{
		color: $white;
		font-weight: 400;
		span{
			color: $yellow;
		}
	}
}
.teaser{
	padding: 30px;
	@media screen and (max-width: $medium){
		padding: 70px 30px;
	}
	background: $white;
}
.map{
	background-image: url('../images/mappy.png');
	background-size: cover;
	@media screen and (min-width: $medium){
		// border-top: 1px solid darken($black, 5%);
	}
}
.filler-bg{
	// Photo by christian koch on Unsplash
	// @media screen and (max-width: $small){
	// 	background-image: url('http://res.cloudinary.com/fergd/image/upload/c_scale,w_420/v1507690307/roast_recon/christian-koch-98476.jpg');
	// }
	// @media screen and (max-width: $large){
	// 	background-image: url('http://res.cloudinary.com/fergd/image/upload/c_scale,w_1024/v1507690307/roast_recon/christian-koch-98476.jpg');
	// }
	// @media screen and (max-width: $xlarge){
	// 	background-image: url('http://res.cloudinary.com/fergd/image/upload/c_scale,w_2471/v1507690307/roast_recon/christian-koch-98476.jpg');
	// }
	background-image: url('../images/nathan-dumlao-290152.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	// border-top: 1px solid $black;
	justify-content: center;
	align-items: center;

	span{
		@extend .icon-location;
		@extend .icon;
		width: 100px;
		height: 120px;
		margin-top: -80px;
	}

}


// Photo by Nathan Dumlao on Unsplash
// Photo by hd on Unsplash
