header, footer{
	margin: 0 auto;
}

.grid-wrapper{
	@extend .no-space;
	display: block;
	max-width: 960px;
	margin: 0 auto;
}
.grid-item{
	width: 100%;
 	display: inline-block;
  	vertical-align: top;
  	padding: 1em;
}
.flex-wrapper{
	display: flex;
	flex-flow: row;
}


@supports (display: grid){
	/*-- 600px - 767px --*/
	@media screen and (min-width: $small){
		.grid-wrapper{
			max-width: 100%;
			display: grid;
			grid-template-columns: 5% 40% 10% 40% 5%;
		  	grid-template-rows: auto 350px auto auto auto;
			grid-gap: 0;
		}
		.cell-1{
			grid-column: 2 / 4;
		  	grid-row: 1;
		}
		.cell-5{
			grid-column: 1 / 7;
			grid-row: 2;
		}
		.cell-11{
			grid-column: 4 / 6;
			grid-row: 1 / 4;
		}
		.cell-13{
			grid-column: 2 / 3;
			grid-row: 4;
		}
		.cell-15{
			grid-column: 4 / 5;
			grid-row: 4;
		}
	}
    /*-- 768px - 1439px --*/
	@media screen and (min-width: $large){
		.cell-1{
			grid-column: 2 / 3;
		  	grid-row: 1;
		}
		.cell-11{
			grid-column: 3 / 5;
		}
	}
    /*-- > 1440px --*/
	@media screen and (min-width: $xlarge){
		.grid-wrapper{
			grid-template-columns: 1fr 540px 1fr 540px 1fr;
		}
		
	}

}

.phone{
	justify-content: space-evenly;
	align-items: center;
}
.team-container{
	text-align: center;
	.member-wrapper{
		justify-content: space-evenly;
	}
}

@media screen and (max-width: $small){
	.map{
		display: none !important;
    	visibility: hidden;
	}
}
.phone{
	img{
		max-width: 90%;
	}
}