$sans-serif-stack: Helvetica, Helvetica Neue, Arial;

@media screen and (min-width: 1200px){
	/* ======
	Large
	=======*/
	h1{
		font-size: ms(4);
	}
	h2{
		font-size: ms(3);
	}
	h3{
		font-size: ms(2);
	}
	h4{
		font-size: ms(1)
	}
	body, p{
		font-size: ms(0);
	}
}