$sans-serif-stack: Helvetica, Helvetica Neue, Arial;
// $headline: 'Merriweather', serif;
// $headline: 'Ultra', serif;
// $headline: 'Roboto Slab', serif;
$headline: 'Merriweather', monospace;

$logo: 'Courier New';
// $logo: 'Ultra', serif;
// $body: 'Quicksand', $sans-serif-stack, sans-serif;

$body: 'EB Garamond', $sans-serif-stack, sans-serif;

body{
	font-family: $body;
	overflow-wrap: break-word;
}
small{
	font-size: ms(-2);
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	color: $black;
}
p{
	color: $med-grey;
}
h1,h2,h3{
	font-family: $headline;
	letter-spacing: 0.05ch;
}
h1{
	font-size: ms(3);
}
h2{
	font-size: ms(3);
}
h3{
	font-size: ms(2);
}
h4{
	font-size: ms(1)
}
p{
	font-size: ms(1);
}
@media screen and (min-width: $medium){
	h3{
		font-size: ms(2);
	}
}
@media screen and (min-width: $large){
	h1{
		font-size: ms(4);
	}
	h2{
		font-size: ms(3);
	}
	h3{
		font-size: ms(2);
	}
	h4{
		font-size: ms(1)
	}
	p{
		font-size: ms(1);
	}
}

.rr{
	color: $rust;
	font-weight: bold;
}
.logo{
	word-spacing: -0.03ch;
}